.container {
    display: flex;
    height: 100%;
    align-items: center;
}

.main_content{
    margin: 0;
    padding-left: 20%;
}

.main_text {
    font-size: 50px;
    color: #0000;
    animation: title_reveal 1.2s .5s both;
    background: linear-gradient(#ffa500 0 0) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0% 100%;
}

.description {  
    font-size: 30px;
    width: fit-content;
    color: #0000;
    animation: title_reveal 1.2s 1.5s both;
    background: linear-gradient(#e7e7e7 0 0) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0% 100%;
}

@keyframes title_reveal {
    to {background-size: 100% 100%;}
}

.external_links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.links a {
    color: #e7e7e7;
    background-color: transparent;
    text-decoration: none;
}

.icon1{
    /* Icon fades in and upwards */
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 1s ease-out forwards;
    animation-delay: 2.5s;
    will-change: transform, opacity;
    display: inline-block;
}

.icon2{
    /* Icon fades in and upwards */
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 1s ease-out forwards;
    animation-delay: 2.8s;
    will-change: transform, opacity;
    display: inline-block;
}

.links a:hover {
    color: #ffa500;
}

.links a i {
    padding-right: 10px;
    padding-top: 5px;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
