.container {
    height: 100%;
}

.main_content{
    padding-left: 20%;
    padding-top: 10%;
    padding-right: 20%;
}

.main_content h1 {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    color: #ffa500;
    padding-bottom: 1.5rem;
}

.main_content p {
    font-size: 20px;
    color: #e7e7e7;
    padding-bottom: 1rem;
}