.post_list{
    height: 100%;
    padding-left: 20%;
    padding-top: 10%;
    padding-right: 20%;
}

.post_link {
    list-style-type: none;
    text-decoration: none;
}

.post_item {
    border: 5px solid;
    border-color: #333333;
    background-color: #333333;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.12), 
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
    margin-bottom: 2rem;
    transition: transform .2s;
}

.post_item:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.num {
    display: inline;
    color: #ffa500;
    font-size: 50px;
    padding-right: 1rem;
}

.title {
    display: inline;
    color: #e7e7e7;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
}

.desc {
    color: #e7e7e7;
    font-size: 20px;
}

.release_info {
    display: inline;
    font-style: italic;
    color: #808080;
    padding-right: 1rem;
}

.word_count {
    display: inline;
    font-style: italic;
    color: #808080;
}